<div class="container mx-auto px-6 py-8">
  <div class="head-actions mb-5">
    <a
      routerLink="/admin/user-management/users"
      class="text-sm text-theme-secondary-light hover:text-theme-primary items-center inline-flex gap-4"
    >
      <i class="fas fa-arrow-left"></i> Back to Users
    </a>
  </div>
  <div class="flex items-center gap-4">
    <div class="app-icon">
      <div
        class="flex items-center justify-center h-14 w-14 rounded-full bg-blue-500 text-white"
      >
        BR
      </div>
    </div>
    <div class="app-details">
      <h3 class="text-2xl font-medium">Billy Joel Ranario</h3>
      <div class="flex items-center text-sm text-gray-500">
        User ID
        <span class="mx-2 text-sm rounded-md bg-gray-200 p-2"
          >JGumd31ycO1uYpWsbQ773TGYjWMwZcll</span
        >
      </div>
    </div>
  </div>
  <div class="mt-10 text-gray-700">
    <div class="page--description text-sm text-gray-500 w-full lg:w-3/4">
      <nav
        mat-tab-nav-bar
        class="theme-tabs-nav"
        color="primary-700"
        mat-stretch-tabs="false"
        [@.disabled]="true"
        [tabPanel]="tabPanel"
      >
        <a
          *ngFor="let tab of tabs; let i = index"
          mat-tab-link
          [routerLink]="tab.path"
          routerLinkActive
          #tabItem="routerLinkActive"
          [active]="tabItem.isActive"
        >
          {{ tab.label }}
        </a>
      </nav>

      <mat-tab-nav-panel #tabPanel>
        <div class="border px-4 py-10">
          <router-outlet></router-outlet>
        </div>
      </mat-tab-nav-panel>
    </div>
  </div>
</div>
