<div class="user-view-settings--container">
  <div class="flex justify-between items-center">
    <div class="text-sm">List of permissions this user has.</div>

    <button class="btn-theme btn-theme-primary">
      Assign Permissions
    </button>
  </div>
  <div class="page--data-table mt-5">
    <table class="theme-table table-auto w-full">
      <thead>
        <tr>
          <th class="w-64">Name</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-sm">
          <td>read:appointments</td>
          <td>Read Appointments</td>
          <td>
            <div class="theme-table--actions ml-auto">
              <button type="button" class="btn-theme btn-theme-danger">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr class="text-sm">
          <td>create:appointments</td>
          <td>Create Appointments</td>
          <td>
            <div class="theme-table--actions ml-auto">
              <button type="button" class="btn-theme btn-theme-danger">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
