$primary-color: #71C2FF;
$primary-color-light: #A8D7FA;
$primary-color-dark: #1766a3;
$secondary-color: #444B54;
$secondary-color-light: #444B5469;
$tertiary-color: theme('colors.gray.300');
$success-color: theme('colors.green.500');
$warning-color: theme('colors.yellow.500');
$danger-color: theme('colors.red.500');