<div class="relative inline-block text-left">
  <div (click)="toggleDropdown()">
    <div #menuTriggerWrapper appDropdownContentProjection>
      <ng-content select="[menubutton]"></ng-content>
    </div>
  </div>
  <div *ngIf="menuTriggerWrapper.classList.contains('empty')">
    <button (click)="toggleDropdown()" class="rounded border border-gray-200 px-2">
      <i class="fas fa-ellipsis"></i>
    </button>
  </div>
  <div
    *ngIf="open"
    class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10"
  >
    <div
      class="py-1"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="options-menu"
    >
      <a
        *ngFor="let option of options"
        (click)="onSelect(option)"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
        role="menuitem"
        >{{ option.label }}</a
      >
    </div>
  </div>
</div>
